<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        <h2>Id: {{products.id}}</h2>
        <h2>First Name: {{products.title}}</h2>
        <h2>Last Name: {{products.description}}</h2>
        <h2>Username: {{products.price}}</h2>
    </p>
{#    <a href="{% url 'settings' user.id %}">#}
{#        <button type="submit">Settings</button>#}
{#        <br>#}
{#    </a>#}
{#     <a href="{% url 'delete-user' user.id %}">#}
{#        <button type="submit">Delete</button>#}
{#    </a>#}
</body>
</html>